@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --amber: #ffbf00;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Fixes the white input issue */
input {
    background: #111;
    border: 1px solid #222;
    color: white;
    padding: 12px;
}

input:focus {
    border-color: var(--amber);
    outline: none;
}
